/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (ntest.scss) is where all the partials are
 * imported.
 */

// Make sure the charset is set appropriately
@charset "UTF-8";

// Import normalize.css
@import "../node_modules/normalize.css/normalize.css";

// Import Bourbon.
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";

// Import Bitters.
@import "base/bitters";

// Import Neat.
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers";

// Import variables.
@import "variables/breakpoints";
@import "variables/colors";

// Import Mixins
@import "mixins/mixins";

// Import layout.
@import "base/layout";

// Import Drupal element overrides
@import "common/messages";
@import "common/tables";
@import "common/tasks";

// Import your components here.
@import "components/breadcrumb";
@import "components/hero";
@import "components/flexbox";
@import "components/footer";

@import "animations/animations";

//google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

  #block-pagetitle {
    display: none;
  }

  #block-views-block-teste-block-1 {
    margin: auto;
  }

  .page {
    position: absolute;
    width: 100%;
    height:  100%;

    main {
      height: 100%;
      width: 100%;
      padding: 0;
      max-width: unset;

      &.outer-wrapper {

        #main-content {
          display: none;
        }

        .menu_btn_container {
          transform: rotate(180deg);
          transition: all 0.5s;
          position: fixed;
          top: calc(50% - 25px);
          z-index: 4;
          left: 320px;
          mix-blend-mode: difference;

          .menuBar_btn {
            width: 40px;
            height: 40px;
            background-image: url("../img/double_arrow_right.png");
            background-size: cover;
            filter: invert(1);
            animation: backward 1.2s infinite alternate-reverse;
            --webkit-animation: backward 1.2s infinite alternate-reverse;
            --moz-animation: backward 1.2s infinite alternate-reverse;
            --ms-animation: backward 1.2s infinite alternate-reverse;
            --o-animation: backward 1.2s infinite alternate-reverse;
          }

          .menuBar_btn:hover {
            cursor: pointer;
          }
        }

        .menu_btn_container_active {
          transform: rotate(0deg);
          transition: transform 0.5s;
          left: 5px;
        }

        #content {
          min-height: 100vh;
          padding-left: 300px;
          transition: 0.5s;

          &.content_active {
            padding-left: 0px!important;
            transition: 0.5s;
          }

          &::after {
            display: none;
          }

          .footer_btn_container {
            position: fixed;
            bottom: 160px;
            right: 50px;
            z-index: 10;
            transform: rotate(0deg);
            transition: bottom 0.5s;
            display: block;

            .footer_close {
              background-image: url("../img/double_arrow_down.png");
              width: 40px;
              height: 40px;
              filter: invert(1);
              background-size: cover;
              --webkit-animation: downward 1.2s infinite alternate-reverse;
              animation: downward 1.2s infinite alternate-reverse;
            }
          }

          // ATIVIDADE BOX
          #block-views-block-sub-pages-block-1,
          #block-views-block-sub-pages-block-2,
          #block-views-block-sub-pages-block-3 {
            .views-row {
              margin: 2% 15% 0 15%;
              width: 70%;

              .atividade-box-layout {
                height: 350px;
                overflow: hidden;
                position: relative;
                color: white;
                margin: 20px;
                width: calc(50% - 40px) !important;

                .views-field-title {
                  position: absolute;
                  height: 100%;
                  text-align: center;
                  vertical-align: middle;
                  line-height: 360px;
                  width: 100%;
                  background-image: url('../img/agua.png');
                  z-index: 10;
                  transition:0.5s;
                  font-size: 2em;

                  a {
                    color: inherit;
                  }
                }

                .views-field-field-subpage-image {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;

                  div {
                    height: 100%;

                    a {

                      img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        transform: scale(1);
                        transition: 0.5s;
                      }
                    }
                  }
                }

                &:hover {
                  cursor: pointer;

                  .views-field-title{
                    height: 50px;
                    transition: 0.5s;
                    line-height: 50px;
                  }

                  .views-field-field-subpage-image {

                    a {

                      img {
                        transform: scale(1.5);
                        transition: 0.5s;
                      }
                    }
                  }
                }
              }
            }
          }

          .footer_open {
            bottom: 20px;
            transform: rotate(180deg)!important;
            transition: bottom 0.5s;
          }

          .footer_close:hover {
            cursor: pointer;
          }

          #block-bewg-content {
            height: fit-content;

            article {
              position: relative;

              // .field--name-field-subpage-image {
              //   position: fixed;
              //   z-index: 0;
              //   top: 0;

              //   .field__label {
              //     display: none;

              //   }

              //   .field__item {

              //     img {
              //       height: 100%;
              //       min-height: 100vh;
              //       min-width: 100vw;

              //     }
              //   }
              // }

              .field--name-field-header {
                color: white;
                width: 500px;
                font-size: 3em;
                position: fixed;
                font-weight: bold;
                transform: scale(1, 1.3);
                letter-spacing: 2px;
                display: block;
                bottom: 37%;
                right: 100px;

              }
              .field--name-field-basic-page-paragraphs {
                text-align: left;
                position: relative;
                z-index: 1;
                margin-bottom: 20px;
                padding-bottom: 30px;
                margin: 110px 20% 5% 20%;

                .field__item {
                  width: 100%;
                  margin-bottom: 20px;

                  .paragraph {
                    background-color: rgba(255,255,255,0.85);

                    .field--name-field-text {
                      width: 100%;
                      color: #666666;
                      overflow-y: hidden;
                      height: fit-content;
                      padding: 2%;

                      img {
                        width: 100%;
                        height: auto;
                        margin-bottom: 20px;

                      }
                      h2, h3,h4, h5, h6 {
                        padding: 10px;
                        background-image:linear-gradient(90deg, #10a6a6, #3c6ba8);
                        margin: 0!important;
                        text-align: center;
                        color: white;
                        height: 60px;
                        margin-bottom: 30px!important;
                        line-height: 40px;
                        vertical-align: middle;

                      }

                      p {
                        margin-top: 10px;
                      }
                      ul {
                        list-style-type: circle;
                        margin-left: 20px;
                      }
                    }
                    .field--name-field-map {

                      .leaflet-container {

                        .leaflet-control-container {

                          .leaflet-top {

                            .leaflet-control-fullscreen {
                              display: none;

                            }
                          }
                          .leaflet-bottom {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                  ::-webkit-scrollbar {
                    width: 10px;
                  }
                  /* Track */
                  ::-webkit-scrollbar-track {
                    background: #f1f1f1;
                  }
                  /* Handle */
                  ::-webkit-scrollbar-thumb {
                    background: #888;
                  }

                  /* Handle on hover */
                  ::-webkit-scrollbar-thumb:hover {
                    background: #555;
                  }
                }
              }

              //Article
              .field--name-field-paragraphs {
                width: 70%;
                margin: 110px 15% 20px 15%;
                background-color: rgba(245,245,252,0.85);
                padding: 20px;
                z-index: 3;
                position: relative;

                .field__label {
                  display: none;
                }

                .field__item {

                  .paragraph {

                    .field--name-field-text {

                      h2,h3,h4,h5,h6 {
                        padding: 10px;
                        background-image:linear-gradient(90deg, #10a6a6, #3c6ba8);
                        margin: 0 0 10px 0!important;
                        text-align: center;
                        color: white;
                      }
                      ul {
                        margin: 0 0 0.75em;
                        list-style-type: circle;
                        margin-left: 20px;

                      }
                    }
                  }
                }
              }

              .paragraph--type--image {
                width: 100%;
                margin: 10px auto;
                height: auto;
              }

              // Atividade
              .field--name-field-image-atividade {

                .field__label{
                  display: none;

                }
                .field__item {

                  img {
                    width: 50%;
                    height: auto;
                    margin: 20px 25% 2% 25%;

                  }
                }
              }

              .field--name-field-tags {
                display: none;

              }

              .shariff {
                display: none;

              }

              .field--name-field-text-atividade {
                width: 70%;
                margin: 20px 15% 20px 15%;
                background-color: rgba(255,255,255,0.85);
                padding: 20px;
                position: relative;
                z-index: 2;

                .field__label {
                  display: none;
                }

                .field__items {
                  color:#666666;

                  h2,h3,h4,h5,h6 {
                    padding: 10px;
                    background-image:linear-gradient(90deg, #10a6a6, #3c6ba8);
                    margin: 0 0 10px 0!important;
                    text-align: center;
                    color: white;

                  }
                }
              }

              .field--name-field-atividade-img {
                position: static;
                top: 0;
                height: 100%;
                left: 0;

                .field__item {
                  position: fixed;
                  top: 0;
                  min-height: 100vh;
                  height: 100%;

                  img {
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                  }
                }
              }

              // Img de fundo da pagina da sustentabilidade
              .field--name-field-sustentabilidade-image {
                position: static;
                top: 0;
                height: 100%;
                left: 0;

                .field__item {
                  position: fixed;
                  top: 0;
                  min-height: 100vh;
                  height: 100%;

                  img {
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                  }
                }
              }

              #node-3{
                height: 100vh;
                background: url("../img/backdrop-the-company.png") no-repeat center center fixed;
                background-size: cover;

              }

              .field--name-field-introducao {
                display:none;
              }
            }

            .field--name-webform {
              width: 80%;
              margin: 0 auto;
              background-color: rgba(255,255,255,0.85);
              padding: 20px;
              margin-top: 5%;

              form>div {
                width: 50%;
                margin: 0 auto;
                text-align: left;

                .webform-button--submit {
                  margin-top: 5%;
                }
              }
              .form-actions {
                text-align: center;
              }
            }
          }
          //MAPA SOBRENÓS
          .block-views-blockstatic-maps-block-1 {
            width: 500px;
            margin: 0 auto;
            margin-bottom: 5%;

            div {

              .view {

                .views-row {

                  .views-field {

                    .field-content {

                      #leaflet-map-node-static-map-68-field-map {
                        border: 1px solid white;

                        .leaflet-control-container {

                          .leaflet-top {

                            .leaflet-control-fullscreen {
                              display: none;
                            }
                          }

                          .leaflet-right {
                            display: none;
                          }
                        }
                      }
                    }

                  }
                }
              }
            }
          }
          //MAPA SEDE-CONTACTOS
          .block-views-blockstatic-maps-block-2 {
            width: 500px;
            margin: 0 auto;
            margin-bottom: 5%;

            div {

              .view {

                .views-row {

                  .views-field {

                    .field-content {

                      #leaflet-map-node-static-map-70-field-map {
                        border: 1px solid white;

                        .leaflet-control-container {

                          .leaflet-top {

                            .leaflet-control-fullscreen {
                              display: none;
                            }
                          }

                          .leaflet-right {
                            display: none;
                          }
                        }
                      }
                    }

                  }
                }
              }
            }
          }
          //news basic page
          .block-views-blocknews-block-1 {

            div {

              .view-news {
                margin-top: 5%;
                display: block;
                margin-bottom: 5%;

                .view-content {
                  width: 90%;
                  margin: 0 auto;

                  .views-row {

                    .views-col {
                      background-color: rgba(255,255,255,1);
                      border-bottom:1px solid  #ccc;
                      float: left;
                      position: relative;
                      width: 47.5%!important;
                      margin-bottom: 5%;


                      &.col-1 {
                        margin-right: 5%;
                      }
                      .views-field-field-teaser-media {
                        width: 45%;
                        /* margin-right: 4%; */
                        float: left;
                        margin-top: calc(30px + 2%);
                        padding: 15px;

                        .field-content {
                          width: 100%;
                          margin-right: 20px;

                          a {

                            img {
                              height: 150px;
                              width: 200px;

                            }
                          }
                        }
                      }
                      .views-field-title {
                        width: 100%;
                        position: absolute;
                        text-align: center;
                        /* margin-bottom: 29px; */
                        height: 30px;
                        padding: 5px;
                        background-image: linear-gradient(90deg, #10a6a6, #3c6ba8);
                        margin: 2%;
                        width: 96%;
                        color: white;
                        overflow: hidden;

                        span {

                          a {
                            color: inherit;
                            font-weight: bold;
                          }
                        }
                      }
                      .views-field-field-introducao {
                        color: #666666;
                        width: 50%;
                        float:right;
                        margin-top: calc(35px + 2%);
                        margin-right: 5%;

                        .field-content {
                          margin-bottom: 30px;
                          font-size: 0.8em;
                          padding:10px;
                        }
                      }

                      .views-field-created {
                        position: absolute;
                        color: #666666;
                        margin-top: 5px;
                        text-align: right;
                        bottom: 0;
                        width: 100%;
                        padding: 5% 5% 2% 5%;
                      }
                    }
                  }
                }
              }
            }
          }

          // Sustentabilidade
          .block-views-block-sub-pages-block-2 {

            .views-row {
              width: 80%!important;
              margin: 2% 10% 0 10%!important;

              .sustentabilidade-column {
                height: 350px;
                overflow: hidden;
                position: relative;
                color: white;
                margin: 20px;
                width: calc(50% - 40px)!important;

                .views-field-title {
                  position: absolute;
                  height: 350px;
                  text-align: center;
                  vertical-align: middle;
                  line-height: 350px;
                  width: 100%;
                  background-image: url('../img/agua.png');
                  z-index: 10;
                  transition:0.5s;
                  font-size: 1.5em;

                  a {
                    color: inherit;
                  }
                }

                .views-field-field-sustentabilidade-image {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;

                  div {
                    height: 100%;

                    img {
                      height: 100%;
                      width: 100%;
                      transform: scale(1);
                      transition: 0.5s;
                    }
                  }
                }
              }

              .lastTypeColumn {
                margin-left: calc(25% + 20px) !important;
              }
            }


            .sustentabilidade-column:hover .views-field-title {
              height: 100px;
              transition: 0.5s;
              line-height: 100px;
            }

            .sustentabilidade-column:hover {
              cursor: pointer;

              &.views-field-field-sustentabilidade-image>div>img {
                transform: scale(1.5);
                transition: 0.5s;
              }
            }
          }

          #block-webform {
            width: 60%;
            margin: 0 auto;
            background-color: rgba(255,255,255,0.85);
            padding: 20px;
            margin-top: 10px;

            form>div {
              width: 50%;
              margin: 0 auto;
              text-align: left;

              .webform-button--submit {
                margin-top: 5%;
              }
            }

            .form-actions {
              text-align: center;
            }
          }

          #block-views-block-frontpage-footer-block-1 {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            z-index: 2;
            padding: 10px;
            background-image: linear-gradient(to left, rgba(60, 107, 168, 1),  rgba(60, 107, 168, 0.85), rgba(60, 107, 168, 0.83));
            transition: 0.5s;
            height: 140px;
            max-height: 140px;
            margin-left: 300px;
            transition: margin-left max-height .5s ease;

            &.menu-expanded {
              margin-left: 0;
            }

            div {

              .view {

                .view-content {

                  table {
                    margin: 0 25% 0 25%;
                    width: 50%;
                    border-left: 0.8px solid white;
                    height: 90%;
                    border-spacing: 0!important;
                    color: white;
                    background-color: transparent;

                    tbody {
                      border: none;

                      tr {
                        background-color: transparent;
                        border: none;
                        font-size: 0.8em;

                        td {
                          border: none!important;

                          a {
                            color: inherit;
                          }
                        }

                        tr:hover {
                          background-color:transparent;
                        }
                      }

                      tr:hover>td{
                        background-color: transparent!important;
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }
          }

          .views-frontpage-footer-closed {
            max-height: 0 !important;
            padding: 0!important;
            overflow: hidden;
          }

          .webform-element-description {
            display: none;
          }

          //views
          .view-content {

            table {
              width: 80%;
              margin: 2% 10% 5% 10%;
              border-spacing: 0 25px;
              // transition: 0.5s;

              tbody {
                background-color: transparent !important;
                transition: 0.5s;

                tr {
                  background-color:#ffffff;
                  margin: 5% 5% 5% 5%;
                  width: 90%;

                  .seo-title {
                    padding: 10px !important;
                    vertical-align: baseline;
                    color: #666666;
                    font-size: 1.2em;
                    border: none !important;

                    .seo_title_text {
                      background-image: linear-gradient(90deg, #10a6a6, #3c6ba8);
                      color: white;
                      width: 100%;
                      padding: 10px;

                    }

                    .paragraph {
                      text-align: left !important;
                      color: #666666;
                      font-size: 0.9em !important;
                      word-break: break-all;
                      width: 58%;
                      float:left;

                      div {
                        float: none;
                        width: 100%;

                        h2, h3, h4,
                        h5, h6 {
                          padding: 10px;
                          background-color: #f2f2f2;
                          margin: 0!important;

                        }

                        p {
                          padding: 10px;
                          margin: 0!important;

                        }
                      }
                    }

                    .view_video {
                      width: 40%;
                      float: right;
                      height: 100%;
                    }
                  }

                  .views-image {
                    border: none;
                  }
                }

                tr:hover {
                  background-color: rgba(0,0,0,0.6);
                }
              }
            }
          }

          .block-menu{
            width: 20vw;
          }

          /*TEXTO DA ATIVIDADE*/
          .field--name-field-header {

            .field__item{
              color: #ffffff;
              font-size: 2vw;

              strong {
                border-bottom: 1px solid white;
                padding-right: 30%;
                padding-bottom: 20px;
              }
            }
          }
        }

        #sidebar-first {
          background-image: linear-gradient(to bottom, rgba(60, 107, 168, 1), rgba(60, 107, 168, .8));
          position: fixed;
          width: 300px;
          max-width: 300px;
          z-index: 5;
          overflow: hidden;
          transition: max-width 0.5s ease;

          &>div {
            position: relative;
            height: 100vh;
            min-width: 300px;

            &.sidebar_inactive {
              max-width: 0px !important;
              overflow: hidden;
            }

            #block-languageswitcher {
              position: absolute;
              right: 0;
              left: 0;
              bottom: 100px;
              width: 60px;
              margin: 0 auto;

              .contextual {
                  top: -30px;
                  left: -60px;

                button {
                  left: -60px;

                  // &.visually-hidden {
                  //   position: relative !important;
                  // }
                }
              }

              .links {

                li {
                  font-weight: 700;
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  position: relative;
                  border-radius: 50%;

                  &:hover {

                    a {
                      color: white;
                    }
                  }

                  a {
                    display: inline-block;
                    font-size: 14px;
                    color: #666666;
                    width: 30px;
                    height: 30px;

                    text-align: center;
                    line-height: 31px;
                  }

                  &.is-active {
                    // background-image: linear-gradient(180deg, #3c6ba8, #10a6a6);
                    background-color: white;

                    a {
                      color: black !important;
                    }
                  }
                }
              }
            }

            #block-bewg-branding {
              width: 100%;
              padding-top: 30px;

              a {
                display: block;
                right: 0;
                left: 0;
                margin: 0 auto;
                max-width: 201px;
                z-index: 1000;

                img {
                  max-width: 300px;
                }
              }
            }

            // Menu
            #block-mainnavigation {

              ul {

                &.menu {
                  width: 100%;
                  margin: auto 0 auto 0;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;

                  .menu-item {
                    padding-top: 0!important;

                    a {
                      height: calc(100% / 6);
                      vertical-align: middle;
                      line-height: 66.6px;
                      padding: 0 0 0 30%;
                      color: white;
                      text-decoration: none;
                      height: 100%;
                      width: 100%;
                      display: inline-block;
                      outline:none;

                      @include mediumHeight {
                        height: 40px;
                        line-height: 40px;
                      }

                      &:hover {
                        background-color: #005E9B;
                        cursor: pointer;
                        transition: 0.2s;
                      }
                    }
                  }

                  &>.menu-item {
                    font-size: calc(10px + 0.5vw);

                    ul {
                      overflow: hidden;
                      visibility: hidden;
                      max-height: 0;
                      height: fit-content;
                      transition: max-height 0.5s;

                      &.active {
                        visibility: visible;
                        overflow: hidden;
                        max-height: fit-content;
                        transition: max-height 0.5s;
                      }

                      &>.menu-item {
                        height: calc(100%/3)!important;

                        a {
                          padding-left: 35%;
                          font-size: calc(5 px +0.5vw);
                          word-spacing: 0px;
                        }
                      }
                    }
                  }
                }
              }

              .menuDrop {
                outline: none;
                z-index: 1;
                transition: 0.5s;
              }

              .subMenu_active {
                visibility: visible!important;
                overflow: hidden!important;
                max-height: fit-content!important;
                transition: max-height 0.5s;
              }
            }
          }
        }
      }
    }
  }
}

