/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (ntest.scss) is where all the partials are
 * imported.
 */

// Make sure the charset is set appropriately
@charset "UTF-8";

// Import normalize.css
@import "../node_modules/normalize.css/normalize.css";

// Import Bourbon.
@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";

// Import Bitters.
@import "base/bitters";

// Import Neat.
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat-helpers";

// Import variables.
@import "variables/breakpoints";
@import "variables/colors";

// Import Mixins
@import "mixins/mixins";

// Import layout.
@import "base/layout";

// Import Drupal element overrides
@import "common/messages";
@import "common/tables";
@import "common/tasks";

// Import your components here.
@import "components/breadcrumb";
@import "components/hero";
@import "components/flexbox";
@import "components/footer";

div {

  #block-views-block-teste-block-1 {
    margin: auto; 
  }

  .page {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);

    #content {
      // background: url("../img/backdrop.png") no-repeat center center fixed;
      // background-size: cover;

      #block-bewg-content {
        height: 100vh;
  
        article {
          
          .field--name-field-basic-page-paragraphs {
            margin:0px 80px 30px 80px;
            max-height: 80vh;
            overflow-y: hidden;
            text-align: left;

            .field__item {
              width:100%;
              // overflow: hidden;
              word-break: break-all;
              .paragraph {
                
                .field--name-field-text {
                  color: white;
                  margin-top: 20px; 
                  padding: 10px;
                  padding-top: 1%;
                  background-color: rgba(0,0,0,0.6);
                  max-height: 350px;
                  overflow-y: scroll;
                }

                ::-webkit-scrollbar {
                  width: 10px;
                }
                /* Track */
                ::-webkit-scrollbar-track {
                  background: #f1f1f1; 
                }
                
                /* Handle */
                ::-webkit-scrollbar-thumb {
                  background: #888; 
                }

                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                  background: #555; 
                }
              }
            }
          }
  
          #node-1{
            //background-image:url("../img/backdrop.png");
            
          }
    
          #node-3{
            //background-image: url("../img/backdrop-the-company.png");
            height: 100vh;
            background: url("../img/backdrop-the-company.png") no-repeat center center fixed;
            background-size: cover;
          }
        }
      }
    }


    

    main {
      display: grid;
      grid-template-columns: 300px 1fr;
      height: 100%;
      width: 100%;
      padding: 0;
      max-width: unset;

      .block-menu{
        width: 20vw;
      }
      
    /*TEXTO DA ATIVIDADE*/
    .field--name-field-header {
      padding: 100px 30px 0px 30px;

      .field__item{
        color: #ffffff;
        font-size: 2vw;

        strong {
          border-bottom: 1px solid white;
          padding-right: 30%;
          padding-bottom: 20px;
        }
      }
    }

      &.outer-wrapper {

        &::after {
          display: none;
        }

        #main-content {
          display: none;
        }

        #sidebar-first {
          background-color: #006BAC;
          position: relative;

          &>div {
            height: 100%;
          }

          #block-bewg-branding {
            width: 100%;
            padding-top: 30px;

            a {
              display: block;
              position: absolute;
              right: 0;
              left: 0;
              margin: 0 auto;
              max-width: 201px;
              z-index: 1000;
            }
          }

          #block-mainnavigation {

            ul {

              position: absolute;
              .menuDrop {
                
                outline: none;
                height: 170px!important;
                max-height: 170px;
                background-color: #005E9B;
                z-index: 1;
              }
              &>.menu-item {
                padding: 3px 0;

                a{
                  width: 100%;
                  display: inline-block;
                  outline:none;
                }

                ul {

                  margin-top: calc(60% / 6);
                  overflow: hidden;
                  visibility: hidden;
                  @include small {

                  }

                  &.active {
                    visibility: visible;
                    overflow: hidden;
                    background-color: #005E9B;
                    height: 130px;
                    z-index: 1;
                    
                  }
                  
                  
                  &>.menu-item {
                    height: calc(100%/3)!important;
                    text-indent: 10px;

                    
                  }
                }
              }
            }
          }

          #block-mainnavigation {
            height: 100%;
            position: relative;
            background-color: #006BAC;
            width: 100%;

            ul {
              
              &.menu {
                height: 40%;
                width: 100%;
                margin: auto 0 auto 0;
                //position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                
                
                .menu-item {
                  
                  a {
                    $menuItemHeight: calc(100% / 6);
                    height: $menuItemHeight;
                    vertical-align: middle;
                    line-height: 66.6px;
                    padding: 0 30%;
                    color: white;
                    text-decoration: none;
                    height: 100%;

                    &:hover {
                        background-color: #005E9B;
                        cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
